.main-content
  = render 'registrations/head'
  .main-content__main-sign
    .main-content__main-sign-content
      .main-content__main-sign-content-head 新規会員登録
      .main-content__main-sign-content-inner
        .main-content__main-sign-content-inner-content
          = link_to  main_data_users_path ,class: 'e-mail' do
            %i.far.fa-envelope
            メールアドレスで登録
          %button.facebook-login
            %i.fab.fa-facebook.fa-pull-left
            = link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: 'facebook-link'
          %button.google-login
            %i.fab.fa-google-plus-g.fa-pull-left
            = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, class: 'google-link'

  = render 'registrations/footer'
