= render "header-registration"
.new-registration
  .new-registration--content
    .new-registration--content--inner
      %h2.new-member-title 会員情報入力
      = form_for @user, url: certification_users_path do |f|
        .new-member-form
          .new-registration--content--inner--main
            .new-registration--content--inner--main--nickname
              %label.new-registration--nickname-label ニックネーム
              %span.form-add-necesarry-nickname 必須
              = f.text_area :nickname, class: "new-registration--nickname-textarea", placeholder: "例) メルカリ太郎"
              .error-text-nickname ニックネームを入力してください
            .new-registration--content--inner--main--mail-address
              %label.new-registration--mail-address-label メールアドレス
              %span.form-add-necesarry-mail 必須
              = f.email_field :email, class: "new-registration--mail-address", placeholder: "PC・携帯どちらでも可"
              .error-text-mail メールアドレスを入力してください
            .new-registration--content--inner--main--password
              %label.new-registration--password-label パスワード
              %span.form-add-necesarry-password 必須
              = f.password_field :password, class: "new-registration--password", placeholder: "６文字以上"
              .error-text-password パスワードを入力してください
              .error-text-password-limit パスワードは6文字以上128文字以下で入力してください
            .new-registration--content--inner--main--password-confirmation
              %label.new-registration--password-confirmation-label パスワード(確認)
              %span.form-add-necesarry-password-confirmation 必須
              = f.password_field :password, class: "new-registration--password-confirmation", placeholder: "６文字以上"
              .error-text-password-confirmation パスワード(確認)を入力してください
              .error-text-password-confirmation-match パスワードとパスワード(確認)が一致してません
            .new-registration--content--inner--main--identification
              %h3.identification-title 本人確認
              %p.identification-text 安心・安全にご利用いただくために、お客様の本人登録情報の登録にご協力ください。他のお客様に公開されることはありません。
            .new-registration--content--inner--main--family-name
              %label.new-registration--family-name-label 姓(全角)
              %span.form-add-necesarry-family-name 必須
              = f.text_area :last_name, class: "new-registration--family-name", placeholder: "例) 山田"
              .error-text-family-name 姓を入力してください
            .new-registration--content--inner--main--personal-name
              %label.new-registration--personal-name-label 名(全角)
              %span.form-add-necesarry-personal-name 必須
              = f.text_area :first_name, class: "new-registration--personal-name", placeholder: "例) 彩"
              .error-text-personal-name 名を入力してください
            .new-registration--content--inner--main--family-name-kana
              %label.new-registration--family-name-kana-label 姓カナ(全角)
              %span.form-add-necesarry-family-name-kana 必須
              = f.text_area :last_name_ja, class: "new-registration--family-name-kana", placeholder: "例) ヤマダ"
              .error-text-family-name-kana 姓カナを入力してください
            .new-registration--content--inner--main--personal-name-kana
              %label.new-registration--personal-name-kana-label 名カナ(全角)
              %span.form-add-necesarry-personal-name-kana 必須
              = f.text_area :first_name_ja, class: "new-registration--personal-name-kana", placeholder: "例) アヤ"
              .error-text-personal-name-kana 名カナを入力してください
            .new-registration--content--inner--main--birth
              %label.new-registration--birth 生年月日
              %span.form-add-necesarry-birth 必須
              %br.new-registration--birth-new-line
              .new-registration--content--inner--main--birth--year
                .new-registration--content--inner--main--birth--year--inner
                  = f.date_select :birthday, {use_month_numbers: true,start_year: 1800, end_year: 2019, include_blank: true}, {class: "new-registration--select"}
                .new-registration--year 年
                .new-registration--month 月
                .new-registration--day 日
              .error-text-birthday 生年月日を入力してください
              %input.new-registration--birth-input{ :type => "hidden"}
            %p.confirmation-about-information ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .new-registration--content--inner--bottom
            .new-registration--content--inner--bottom--recaptcha
            .new-registration--content--inner--bottom--agree-text
              %p.bottom--agree-text-inner-top
                「次へ進む」のボタンを押すことにより、
                = link_to "利用規約", "#", class: "terms-of-service"
                に同意したものとみなします。

            = f.submit "次に進む", class: "new-registration--net-btn"
            .new-registration--content--inner--bottom--about-registration
              = link_to "本人情報の登録について","#",class: "about-registration--link"

  = render "registrations/footer"
