%footer.clearfix
  .foot-banner
    .foot-banner--pc
      .foot-banner--inner
        %p.foot-banner--inner--top
          スマホでかんたんフリマアプリ
        %p.foot-banner--inner--bottom
          今すぐ無料ダウンロード！
        .mercari-logo
          = image_tag 'mercari_icon.png', :size =>'68x68',alt: "mercari_icon.png"
        .store-link-logo
          %li.apple-logo
            = image_tag 'download.svg', :size =>'133x40',alt: "download-1.svg"
          %li.google-logo
            = image_tag 'download-1.svg', :size =>'133x40',alt: "download-1.svg"
    .smart-phone-image
      = image_tag 'download_content_pc.png', :size =>'300x260',alt: "smart-phone-image"
  .global-footer
    .footer-nav
      %ul
        %li.footer-cell
          %h2.footer-head
            メルカリについて
          %ul
            %li
              会社概要（運営会社）
            %li
              プライバシーポリシー
            %li
              メルカリ利用規約
            %li
              メルカリ利用規約・有償ポイントに関する特約
            %li
              あんしんスマホサポート制度に関する利用特約
            %li
              コンプライアンスポリシー
            %li
              個人データの安全管理に係る基本方針
            %li
              特定商取引に関する表記
            %li
              資金決済法に基づく表示
            %li
              法令順守と犯罪抑止のために
            %li
              採用情報
        %li.footer-cell
          %h2.footer-head
            メルカリをみる
          %ul
            %li
              カテゴリー一覧
            %li
              ブランド一覧
            %li
              出品地域一覧
            %li
              公式ブログ
            %li
              公式Twitter
            %li
              公式Facebook
        %li.footer-cell
          %h2.footer-head
            ヘルプ＆ガイド
          %ul
            %li
              メルカリガイド
            %li
              メルカリロゴ利用ガイドライン
            %li
              お知らせ
            %li
              らくらくメルカリ便とは
            %li
              ゆうゆうメルカリ便とは
            %li
              大型らくらくメルカリ便とは
            %li
              車体取引ガイド
            %li
              返品・返金ポリシー
            %li
              メルカリあんしん・あんぜん宣言！
            %li
              偽ブランド品撲滅への取り組み
            %li
              メルカリボックス
        %li.footer-cell
          %h2.footer-head
            国
          %ul
            %li
              = image_tag 'flag_us.png', :size =>'22x22',alt: "smart-phone-image"
              united states
            %li
              = image_tag 'flag_uk.png', :size =>'22x22',alt: "smart-phone-image"
              united kingdom
            %li
              = image_tag 'flag_jp.png', :size =>'22x22',alt: "smart-phone-image"
              日本
    .footer-logo
      = image_tag 'logo-white.svg', :size =>'124x33',alt: "smart-phone-image"
    .footer-copylight
      © 2019 Mercari
