.header
  .header__inner
    .clearfix
      .l-left
        = link_to root_path do
          = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1857733084")
      = form_tag search_products_path, method: :get, class: "header-form l-right" do
        = text_field :product, :name, {class: "input-default", placeholder: "キーワードから探す"}
        = label_tag do
          %i.fas.fa-search
          = button_tag type: 'submit', class: 'search-btn'

    .header-nav-box
      .l-left
        .header-nav
          .list
            = render "/shared/category_search"
          .list
            ブランドから探す
      .l-right
        .header-user-nav
          - if user_signed_in?
            .list-mypage
              = image_tag("//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png")
              = link_to mypages_path, class: "link-no-decoration" do
                %div マイページ
            .list-notice
              .fas.fa-bell
                &nbsp;お知らせ
            .list-to-do
              .fas.fa-check
              .to-do-text やることリスト
          - else
            = link_to new_user_session_path, class: "no-line link-no-decoration" do
              .header-btn.header-btn__login
                ログイン
            = link_to new_user_registration_path, class: "no-line link-no-decoration" do
              .header-btn.header-btn__signup
                新規会員登録
