.item-users-exhibit
  %section.item-box-content-top
    %h2.item-box-content-top-title
      = link_to 'DPS(ぶーん)@カウントダウンTVさんのその他の出品',"https://www.mercari.com/jp/u/387561164/", class: 'item-box-content-title-link'
    %div.item-box-content-top-inner
      %section.items-box-left
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530",  alt: "【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺", class: "lazyloaded"
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

      %section.items-box-center
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", class: 'lazyloaded'
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

      %section.items-box-right
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", class: 'lazyloaded'
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

.item-users-exhibit
  %section.item-box-content-top
    %h2.item-box-content-top-title
      = link_to 'コーチ',"https://www.mercari.com/jp/u/387561164/", class: 'item-box-content-title-link'
    %div.item-box-content-top-inner
      %section.items-box-left
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", class: 'lazyloaded'
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

      %section.items-box-center
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", class: 'lazyloaded'
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

      %section.items-box-right
        = link_to '#', class: 'photos-box-link' do
          %figure.items-box-photo
            =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55748360776_1.jpg?1542300530", class: 'lazyloaded'
            .item-tag-sold-out-bottom
              .sold-out-text-bottom SOLD
        .items-box-body
          %h3.items-box-name.font-2 【KOE×トムブラウン】コラボ ウールパンツ/スラックス 紺
          .items-box-body-num
            .items-box-body-num-price ¥ 3,500
            .items-box-body-num-likes
              %i.far.fa-heart
              %span.likes-counts 9
            %p.item-box-tax (税込)

  %section.item-box-content-buttom
