= render "/shared/header"
- breadcrumb :destroy, @destroy
= breadcrumbs pretext: "メルカリ", separator: " &rsaquo; ", style: :ul
.wrapper
  = render "/shared/side-bar"
  .logout--container
    = link_to("ログアウト", destroy_user_session_path, method: :delete, class: "logout--btn")
= render "/shared/footer"
