= render "/shared/header"

- breadcrumb :destroy, @destroy
= breadcrumbs separator: " &rsaquo; ", style: :ul

= render "shared/exhibit"
.mypages-body
  = render "/shared/side-bar"
  .main-all
    .main-all__background
      .main-all__btn
        = link_to("ログアウト", destroy_user_session_path, method: :delete, class: "main-all__btn-text no-line")
= render "/shared/footer"
