= render "/shared/header"
- breadcrumb :profile, @edit
= breadcrumbs separator: " &rsaquo; ", style: :ul
.mypages-body
  = render "/shared/side-bar"
  = form_for @user, url: mypage_path do |f|
    .profile
      .profile--head
        プロフィール
      .profile--container
        - unless @user.image.nil?
          = image_tag @user.image, size: '60x60', alt: "mercari_icon.png", class: "profile--img"
        - else
          = image_tag "rikishi.png", size: '60x60', alt: "mercari_icon.png", class: "profile--img"
        = f.text_field :nickname, class: "profile--nickname", value: "#{@user.nickname}"
      = f.text_area :self_introduction, class: "profile--text-area", value: "#{@user.self_introduction}"
      = f.submit "変更する", class: "profile--change-btn"

