= render "/shared/header"
- breadcrumb :profile, @edit
= breadcrumbs pretext: "メルカリ", separator: " &rsaquo; ", style: :ul
.mypages-body
  = render "/shared/side-bar"
  .profile
    .profile--head
      プロフィール
    .profile--container
      = image_tag 'rikishi.png', size: '60x60', alt: "mercari_icon.png", class: "profile--img"
      %input.profile--nickname
    %textarea.profile--text-area
    = link_to "変更する", "https://www.mercari.com/jp",class: "profile--change-btn"

