= render "shared/header"
= render "shared/exhibit"

.mypages-body
  = render "shared/side-bar"
  // マイページのメイン部分
  .main-all
    = link_to "#", class: "no-line" do
      .my-page__header-image
        .user-data__wrapper
          = image_tag "rikishi.png", class: "my-page__header-profimage"
          .my-page__name アルカリ
          .review-wrapper
            .user-page__review
              評価 1000
            .user-page__exhibit-count
              出品数 1000
    // お知らせとやることリストのタブ部分
    .my-page__tabs
      .my-page__title-left.info.active-tab
        お知らせ
      .my-page__title-right.todo.inactive-tab
        やることリスト
    // お知らせのリスト
    .my-page__left-wrapper.info.active-area
      .my-page__left
        .my-page__left-image
          = image_tag "rikishi.png", {class: "left-image"}
        .my-page__left-texts
          .my-page__left-text yuya arakiさんがmarginマスターしました
          .my-page__left-time
            %span.far.fa-clock
            %span 1時間前
    // やることのリスト
    .my-page__right-wrapper.todo.inactive-area
      .my-page__right
        .my-page__right-image
          = image_tag "rikishi.png", {class: "right-image"}
        .my-page__right-texts
          .my-page__right-text yuya arakiさんがpaddinをマスターしました
          .my-page__right-time
            %span.far.fa-clock
            %span 9時間前
    = link_to "#", {class: "no-line"} do
      .info-todo__show-all 一覧を見る

    .toransaction-title
      購入した商品
    // 取引中と過去の取引のタブ部分
    .my-page__tabs
      .my-page__title-left.now.active-tab
        取引中
      .my-page__title-right.past.inactive-tab
        過去の取引
    // 取引中のリスト
    .my-page__left-wrapper.now.active-area
      .my-page__left
        .my-page__left-image
          = image_tag "rikishi.png", {class: "left-image"}
        .my-page__left-texts
          .my-page__left-text yuya arakiさんがRuby on Railsをマスターしました
          .my-page__left-time
            %span.far.fa-clock
            %span 10日前
    // 過去取引のリスト
    .my-page__right-wrapper.past.inactive-area
      .my-page__right
        .my-page__right-image
          = image_tag "rikishi.png", {class: "right-image"}
        .my-page__right-texts
          .my-page__right-text yuya arakiさんがjQueryをマスターしました
          .my-page__right-time
            %span.far.fa-clock
            %span 5日前

= render "shared/footer"
