.content
  .content-title
    = "#{category[0]} 新着アイテム"
  .items
    - count = 0
    - @products.each do |product|
      - unless count >= 4
        - if category[1] == product.top_category_id
          = link_to detail_product_path(product), {class: "link-no-decoration"} do
            .item
              = image_tag product.images[0].image if product.images[0]
              = image_tag("rikishi.png") if product.images[0].nil?
              .title
                = product.name
              .price
                = "¥ #{product.price}"
              .tax (税込)
          - count += 1
  .show-all-items
    = link_to("すべての商品を見る", "#", {class: "no-line"})
