.content
  .content-title
    = "#{content} 新着アイテム"
  .items
    - @products.each do |product|
      = link_to "#" do
        .item
          = image_tag("rikishi.png")
          .title
            = product.name
          .price
            = product.price
          .tax (税込)
  .show-all-items
    = link_to("すべての商品を見る", "#")
