= render "/registrations/head"
.confirmation
  .confirmation--head
    購入を確定しますか？
  .confirmation--container
    = image_tag @image.image ,size: "148x148", class: "confirmation--img"
    .confirmation--item-title
      = @product.name
  .confirmation--container--top
    .confirmation--pay
      = "¥#{@product.price}"
    .confirmation--post-marge
      送料込み
  .confirmation--point
    ポイントはありません
  .confirmation--container--bottom
    .confirmation--pay-title
      支払い金額
    .confirmation--pay
      = "¥#{@product.price}"
    .confirmation--btn
      = form_tag(action: :completion, method: :post) do
        %script.payjp-button{"data-key" => "pk_test_6d8f33d7d30fe243d9254591", src: "https://checkout.pay.jp", type: "text/javascript", "data-text" => "購入する"}
  .confirmation--postage--container
    .confirmation--postage--spot
      配送先
    .confirmation--postage--post
      = "〒#{@user.postal_code}"
    .confirmation--postage--adress
      = "#{@user.prefecture}" + "#{@user.city}" + "#{@user.building}"
    .confirmation--postage--name
      = "#{@user.first_name}" + "#{@user.last_name}"
    .confirmation--change
      = link_to "変更する", edit_user_path, class: "confirmation--change"
      %i.fas.fa-angle-right.fa-pull-right.fa-lg.confirmation--fa
  .confirmation--payment-method--container
    .confirmation--payment-method--title
      支払い方法
    .confirmation--payment-method--credit-number
      *********8802
    .confirmation--date
      04/32
    .confirmation--payment-method--img
      = image_tag 'visa.svg', :size =>'49x15',alt: "mercari_icon.png"
    .confirmation--change
      = link_to "変更する", edit_user_path, class: "confirmation--change"
      %i.fas.fa-angle-right.fa-pull-right.fa-lg.confirmation--fa
= render "/registrations/footer"
