%input{name: "sold", type: "hidden", value:  @product.shipping_method, class: 'sold' }/
= render 'shared/header'
= render 'shared/gretel'
.content
  .content-item
    %h1.content-item-name
      = @product.name
    .content-item-main
      .content-item-main-photo
        .content-item-main-photo-objects
          = image_tag @product.images[0].image,class: "item-main"
          .item-tag-sold-out-top
            .sold-out-text-top SOLD
        %ul.content-item-main-photo-sub
          %li.item-sub
            = image_tag @product.images[0].image, class: "item-sub"
          %li.item-sub
            = image_tag @product.images[1].image, class: "item-sub"
          %li.item-sub
            = image_tag @product.images[2].image,class: "item-sub"
          %li.item-sub
            =image_tag @product.images[3].image, class: "item-sub"
      .content-item-main-table
        .content-item-main-table-list
          .content-item-main-table-list-user
            %p.table-list-user-name-left 出品者
            .table-list-user-name-right
              = link_to "#{@product.user.nickname}", '#',class: 'table-list-user-name-right-name'
              .user-evaluation
                %i.fas.fa-grin
                  %span.user-evaluation-count
                  = @review_good
                %i.fas.fa-meh
                  %span.user-evaluation-count
                  = @review_nomal
                %i.fas.fa-frown
                  %span.user-evaluation-count
                  = @review_bad
          .content-item-main-table-list-category
            %p.table-list-category-name-left カテゴリー
            = link_to "#{@category_parent_id.name}",'#',class: 'table-list-category-name-right--top'
            %p
            %i.fas.fa-chevron-right.category-icon
            = link_to "#{@category_child_id.name}",'#',class: 'table-list-category-name-right'

            %p
            %i.fas.fa-chevron-right.category-icon
            = link_to "#{@product.category.name}",'#',class: 'table-list-category-name-right'

          .content-item-main-table-list-brand
            %p.table-list-brand-name-left ブランド
            = link_to "#{@product.brand.list}",'#',class: 'table-list-brand-name-right'
          .content-item-main-table-list-state
            %p.table-list-state-rank-left 商品状態
            = link_to ' やや傷や汚れあり','#',class: 'table-list-state-rank-right'
          .content-item-main-table-list-delivery-fee
            %p.table-list-delivery-fee-rank-left 配送料の負担
            = link_to '送料込み(出品者負担)','#',class: 'table-list-delivery-fee-rank-right'
          .content-item-main-table-list-delivery-method
            %p.table-list-delivery-method-dicide-left 配送の方法
            = @product.shipping_method
          .content-item-main-table-list-delivery-area
            %p.table-list-delivery-method-refecture-left 配送元地域
            .table-list-delivery-method-dicide-right
            = @product.area
          .content-item-main-table-list-delivery-date
            %p.table-list-delivery-date-few-left
              配送日の目安
            %p.table-list-delivery-method-dicide-right
              = @product.shipping_dates
    .content-item-price-box
      %span.price-total
        = "¥#{@product.price}"
      %span.price-tax (税込)
      %span.price-delivery-fee 送料込み
    .content-item-product-state
      %p.buy-button-soldout 売り切れました
    .content-item-product-state-buy
      = link_to "購入画面に進む", confirmation_product_path, class: 'buy-button-buy'
    .content-item-description
      %p.description-detail
        = @product.detail
    = render "likes/like",product: @product
  = render 'shared/detail_comment'
  = render 'shared/detail_middle'
  = render 'shared/link_to_sns'
  = render 'shared/item-users-exhibit'
= render 'shared/footer'


