= render "/shared/header"

= render "/shared/exhibit"

= image_tag("slider-1.png",{class: "slider"})
%p.pickup-category ピックアップカテゴリー
- @categories.each_with_index do |category, index|
  - unless index >= 3
    .contents
      = render partial: "category", locals: {category: category}
//%p.pickup-brand ピックアップブランド
//- @brands.each do |brand|
//  .contents
//    = render partial: "contents", locals: {content: brand}
= render "/shared/footer"
