= render "shared/header"
= render "shared/exhibit"
= render "shared/gretel"
.search-body
  = form_for "@product" do |f|
    .search-body__side-bar
      = f.select "ダミー", Product.search_kinds.keys.to_a, {}, {class: "search-kind select-field"}
      .search-contents
        詳細検索
        .search-content
          %p.search-content__title
            %span.fas.fa-plus
            %span キーワードを追加する
          = f.text_field "ダミー", {class: "text-field", placeholder: "例）値下げ"}
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-list-ul
            %span カテゴリーを選択する
          = f.select "ダミー", Product.search_kinds.keys.to_a, {}, {class: "search-category select-field"}
          = f.select "ダミー", Product.search_kinds.keys.to_a, {}, {class: "search-category select-field select-field__second"}
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-tag
            %span ブランド名から探す
          = f.text_field "ダミー", {class: "text-field"}
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-expand
            %span サイズを指定する
          = f.select "ダミー", Product.sizes.keys.to_a, {}, {class: "search-size select-field"}
          .check-boxes
            .check-box
              %span
                = f.check_box "ダミー", {}, true, false
              %span S
            .check-box
              %span
                = f.check_box "ダミー", {}, true, false
              %span M
            .check-box
              %span
                = f.check_box "ダミー", {}, true, false
              %span L
            .check-box
              %span
                = f.check_box "ダミー", {}, true, false
              %span XL
        .search-content.search-content__next
          %p.search-content__title
            %span.fab.fa-bitcoin
            %span 価格
          = f.select "ダミー", Product.sizes.keys.to_a, {}, {class: "search-price select-field"}
          .search-prices__min-max
            = f.text_field "ダミー", {class: "text-field text-field__left", placeholder: "¥ Min"}
            = f.text_field "ダミー", {class: "text-field text-field__right", placeholder: "¥ Max"}
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-star
            %span 商品の状態
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-truck
            %span 配送料の負担
        .search-content.search-content__next
          %p.search-content__title
            %span.fas.fa-shopping-cart
            %span 販売状況
        .search-content.search-content__next
          .search-btns
            = link_to "クリア", "#", class: "search-btn search-btn__clear no-line"
            = link_to "完了", "#", class: "search-btn search-btn__complete no-line"
  .search-body__search-results
    .search-result__text
      %h2 検索結果 ◯◯件
      %p 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。
      %h3 新着商品
    .search-result__items
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
      .search-result__item
        = image_tag "bubble.png", {class: "search-result__image"}
        %h4.search-result__introduction スマートウォッチ
        %h4.search-result__price ¥ 1,890
        %p (税込)
= render "shared/footer"
